@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><span style="color:#00ffff"><i>|QUIZZ|</i></span> website</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Welcome to |QUIZZ|, a website where you can study with |quizzs| in a variety of fields, or a place to relax with fun, interesting |quizzs|.<br />
            For convenience, read some of our tutorials first.
        </div>
    </div>
    <h3>How to use application?</h3>
    <ul>
        <li>Sign Up easily with just your name</li>
        <li>Log In</li>
        <li>Select a |quizz| and...</li>
        <li>Let' GO</li>
    </ul>
</div>